@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Luckiest Guy';
}

.bg-radial-blue {
    background: radial-gradient(85.48% 79.62% at 50% 50%, #75BDFF 0%, #020065 100%);
}

.bg-linear-red-button {
    background: linear-gradient(241.78deg, #BC0000 27.02%, #8B0000 82.05%);
}

.bg-linear-blue-card {
    background: linear-gradient(327.68deg, #588DD8 -2.66%, #324FA5 80.63%);
}

.bg-linear-blue {
    background: linear-gradient(180deg, #3598DF 0%, #006BB8 100%);
}

.winner-row {
    background: linear-gradient(180deg, #62B5F0 0%, #046EBA 100%);
    box-shadow: 1px 3px 3px rgba(16, 46, 131, 0.5);
    border-radius: 5px;
}

.text-golden-shadow {
    text-shadow: -1px -1px 0px #B46E00;
}

.disable-scroll {
    overflow-x: hidden;
}

.inner-shadow {
    box-shadow: inset 1px 5px 4px #1B379F;
}

body {
    height: 100vh;
}

.spinButton {
    background: linear-gradient(241.78deg, #BC0000 27.02%, #8B0000 82.05%);
    text-shadow: -1px -1px 0px #B46E00;;
    font-size: 1.25rem;
    line-height: 1.75rem;
    text-align: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    --tw-border-opacity: 1;
    transition: all;
    border-color: rgb(250 194 105 / var(--tw-border-opacity));
    border-width: 3px;
    transform: translateY(-0.375rem);
    height: 100%;
    width: 100%;
    border-radius: 1rem;
    position: absolute;
}

.spinAnimate {
    animation-name: spinButtonClick;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

@keyframes spinButtonClick {
    0% {
        transform: translateY(-0.375rem);
    }
    30% {
        transform: translateY(0px);

    }
    100% {
        transform: translateY(-0.375rem);
    }
}

.wheel {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.marker {
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background-color: #bdd9e1;
}

.wheelActive {
    animation-name: spinningWheel;
    animation-iteration-count: infinite;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes spinningWheel {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

@keyframes spinningWheelStop {
    0% {
    }
}

